<?xml version="1.0" encoding="UTF-8"?>
<widget id="com.aether3d.studio" version="1.0.0" android-versionCode="10000" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>Aether3D Studio</name>
  <description>Native Android mobile 3D game engine and editor.</description>
  <author email="dev@aether3d.local" href="https://github.com/OdetteGD/Aether3D">Aether3D Studio</author>
  <content src="index.html" />
  <access origin="*" />
  <allow-navigation href="https://*/*" />
  <allow-navigation href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="http://*/*" />
  <preference name="android-minSdkVersion" value="24" />
  <preference name="android-targetSdkVersion" value="34" />
  <preference name="android-compileSdkVersion" value="34" />
  <preference name="android-buildToolsVersion" value="34.0.0" />
  <preference name="Orientation" value="landscape" />
  <preference name="Fullscreen" value="false" />
  <preference name="DisallowOverscroll" value="true" />
  <preference name="AndroidInsecureFileModeEnabled" value="false" />
  <preference name="InspectableWebview" value="false" />
  <engine name="android" spec="13.0.0" />
  <plugin name="com.aether3d.native" spec="./src/android" />
  <platform name="android">
    <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
      <application android:hardwareAccelerated="true" android:usesCleartextTraffic="false" android:allowBackup="false" android:supportsRtl="true" />
    </edit-config>
    <config-file parent="/manifest" target="app/src/main/AndroidManifest.xml">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    </config-file>
  </platform>
</widget>
